body{
    background-color: red;
    text-align: right;
    
}
p{
    
    color: green;
    text-transform: uppercase;
    text-indent: 20px;
    font-family: Verdana;
    font-size: 50px;
    text-shadow: 2px 2px 5px green;
   
    
    
}
.parent
{
    text-transform: uppercase;
}
.title{
    color: red;
}
.title1{
    color: blue;

}
h5{
    color: green;
}